html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #C33764;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764);
    padding: 5px
}

.fillHeight {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

:root {
    --ls-theme-color: #43dbbd;
    --ls-theme-color-darker: #3B896D;
    --grey-color: #c0c0c0;
}

.contentContainer {
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
}

.contentContainer p,
.contentContainer h1,
.contentContainer h2 {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 30px;
}

.contentContainer h1 {
    border-style: solid;
    border-width: 4px;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
}

.formTitle {
    font-weight: bold;
    font-size: x-large;
    color: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 4px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.formField {
    width: 90%;
    display: flex;
    flex-grow: 1;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    height: 75px;
}

.formFieldHeader {
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    color: white;
    font-size: large;
    background-color: var(--ls-theme-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: var(--grey-color);
    margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
    background-color: var(--ls-theme-color-darker);
}

.lsBorderColor {
    border-color: var(--ls-theme-color);
}

.lsBackgroundColor {
    background-color: var(--ls-theme-color);
    color: white;
}

.lsThemeText {
    color: var(--ls-theme-color);
    font-weight: bold;
}

.fxLayoutCol {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

select,
input {
    width:75%;
    text-align-last: center;
}

.formRow {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.heightControls,
.bodyFatControls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.imperialHeight,
.bodyFatControl {
    width: 40%;
    color: var(--grey-color);
    font-style: italic;
}

.metricHeight {
    width: 100%;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 220px;
}

.buttonGroup button {
    width: 100%;
}

.errorMessageContainer {
    display: flex;
    display: block;
    align-items: center;
    height: 50px;
}

#errorMessage {
    color: red;
    text-align: center;
}

.results {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.resultsFieldHeader {
    font-size: x-large;
    margin-bottom: 5px;
}

.resultsFieldContent {
    width: 95%;
    display: block;
    margin: auto;
}

.resultsContainer {
    flex-basis: 45%;
    min-width: 300px;
    margin-bottom: 20px;
    flex-grow: 1;
    margin: 10px;
}

.optimalEq {
    background-color: yellow;
}

.equationResult {
    text-align: center;
}

.flex-reverse {
    flex-wrap: wrap-reverse;
}

#chartContainer {
    display: flex;
    align-items: center;
}

canvas {
    width: 100% !important;
    /* Chart refuses to shrink if !important is missing*/
}

.formMessage,
.goToLS {
    width: 95%;
    margin: auto;
}

.builtBy {
    margin-bottom: 20px;
}

.builtBy img {
    width: 175px;
    height: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.builtByLink {
    text-align: center;
    color: white;
    font-weight: bold;
}

.equationContainer {
    margin-top: 20px;
}

.equationName {
    font-size: large;
    font-weight: bold;
    width: 95%;
    margin: auto;
    margin-top: 10px;
}

.equationDefinition {
    width: 80%;
    margin: auto;
    margin-top: 5px;
    background-color: #c0c0c0;
    border-color: #e9e8e8;
    border-width: 2px;
    border-style: solid;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
}

.equationString {
    width: 90%;
    margin: auto;
}

.dontKnow {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}